body{
    background: transparent;
    background-color: aqua;
    background: url(img3.jpg);
    
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12%;
}
.header{
    margin: auto;

    padding: 30px 30px 30px 30px;

    color: white;
    border-radius: 20px;

}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nameblock{
    width: 200px;

    border-radius: 15px;
    box-shadow: none;
    background: transparent;
}
.passwordblock{
    width: 200px;
    background: transparent;
    border-radius: 15px;
}
.remember{
    text-decoration: none;
    color: white;
    background: transparent;
}
.forget{
    text-decoration: none;
    color: white;
    list-style: none;
    background: transparent;
}
.login{
    width: 100%;
    height: 100%;

    border-radius: 20px;
    font-size: 25px;
    background: url(back.jpeg);
}
.login:hover{
    cursor: pointer;
    color: rgb(136, 56, 120);
}
a, .forget:link{
    color: WHITE;
    text-decoration: none;
    padding-left: 0%;
    border: 1px solid black;
}